.footer-container{
    height: 550px;
    background-color: #1f0f3b;
}
.footer {
    background-color: #1f0f3b;
    padding-top: 10px;
    color: white;
  }
  .ul {
      float: right;
  }
  .brand > h3 {
      margin-bottom: 10px;
      margin-left: 30px;
  }
  .brief {
      float: left;
      width: 200px;
      margin-left: 30px;
  }
  .copy {
      margin-top: 250px;
      text-align: center;
      color: white;
  }
  .linking {
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      gap: 15px;
      margin: 20px;
  }
  .linking:hover{
    text-decoration: underline;
  }
  .linking > * {
      color: white;
      text-decoration: none;
  }
  @media (max-width: 600px){
    #main {
        display: flex;
        flex-direction: column;
        height: 850px;
        
    }
  }